@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

:root {
  --fontFamily-text:'Montserrat', sans-serif;
  --fontFamily-title: 'Fira Code', monospace;
  --sm:15px;
  --md:20px;
  --lg:25px;
  --blue:#96b3ff;

}

body{
  font-family:var(--fontFamily-text);
  font-size: var(--sm);
  background-color: #000000;
  color: #ffffff;
  padding:10px;
  justify-content: center;
}
.content{
  padding: 0 7em;
}
.content-menu{
  padding:0;
  margin: 0;
  width:100%;
  background: rgba(0, 0, 0, 0.849)
  }

.menu{
  display:flex;
  justify-content: center;
  transition: 0.5s;
}


.menu nav {
    display: flex;
    /* align-items: center; */
    /* width: 100%; */
    /* justify-content: center; */
    column-gap: 10px;
  
  }

  .menu nav ul{
    display:flex;
    list-style: none;
    align-items:center;
    padding:0;
    column-gap: 5px;
     width: 100%;
  }

  .menu nav ul li {
    display:flex;
    margin-left:5px;  
    font-weight:500;  
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
  }
  
  .active{
    transform:translateY(-10px);
  }

  .active .icon{
    color:#ffffff;
    background:var(--blue);
  }

 .active .icon::before{
    opacity: 0.5;
  }

 .active .name-item{
    color: var(--blue);
    font-weight: 600;
  }


  .menu nav ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
  }

  .icon{
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 50px;
    transition: 0.5s;
    border-radius:10px;
    font-size: 1.75em;
    color:#000000;
    border-left: unset;
    
    
  }
  
  .icon::before{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    width: 100%;
    height:100%;
    background:var(--blue);
    opacity: 0;
    transition: 0.5s;
    filter:blur(8px);
  
    }

   .name-item{
    position: relative;
    padding: 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: 0.5s;

   } 

  
 

h1,h2,h3 {
  margin:0;
}

button{
  font-family: var(--fontFamily-title);
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
  background-color:#d2d2d2;
  border: none;
  font-size: 17px;
  color:#efefef;
  background-color: var(--blue);
  border-radius:15px;
  padding:4px 33px ;
  margin: 2em 0;
  cursor:pointer;
}


.introduce{
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap:90px;
  margin:30px 0;
}

.introduce-info{
  width:45%;
}


.title {
  display: flex;
  flex-direction: column;
  padding: 0px;  
  row-gap: 3px;
  font-family: var(--fontFamily-title);
}

.greeting{
  font-weight:500;
  font-size: var(--sm);
  font-size:28px;
}

.name{
  font-size:55px;
}

.profile{
  font-weight:600;
  letter-spacing:1px;
  color: var(--blue);
  font-size:30px;
}


.description{
  font-size: 17px;
}

.about-me{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  /* padding: 8px; */
  /* margin: em 0; */

}

.about-me h2{
  font-family: var(--fontFamily-title);
  font-size:35px; 
}
.about-me p{
  font-size: 17px;
  text-align: justify;
}

.skill{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
width: 40%; 
}


.skill p{
  font-size: 20px;
  font-family: var(--fontFamily-title);
  font-weight: 600;
  color: var(--blue);
}

.skill ul li {
  list-style: none;
}

.icon-skill{
  font-size:45px;
}

.about-description{
  width:60%;
}

.icon-cv{
  font-size: 25px ;
}


.photo-me{
  width:400px;
  height:400px;
      
 }

 .photo-me img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 50%;
 }
    
    .work{
      display: flex;
      flex-direction: column;
      margin:30px 0;
    }
    
.work h2{
  font-family: var(--fontFamily-title);    
  font-size:35px; 
}

.container-projects{
  display: flex;
  flex-wrap: wrap;
  column-gap:10px;
  }
  
  .card-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: var(--blue);
    padding: 33px;
    border-radius: 10px;
  }
 
  .tecnhologies{
    display: flex;
    flex-direction:row;
    list-style: none;
    column-gap: 8px;
    font-size: 33px;
    padding: 0;
  }
  

/* verMovil */
@media only screen and (max-width : 900px) {
  .content{
    padding:0 20px;
  }
  
  
  .menu nav{
    flex-direction: column-reverse;
    row-gap: 8px;
  }

  nav ul{
    display: flex;
    padding:0;
    margin: 0;
    margin-top:6px;
    font-size: 15px;
    align-items: center;
    justify-content: center;

  }

  .menu-items li {
    padding: 2px 10px;
   }

  .introduce{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    row-gap: 5px;
    margin: 15px 0  30px 0; 
  }

  .introduce-info{
    width: 100%;
  }
  
  .photo-me{
    width: 250px;
    height: 250px;
  }


  .icon{ 
    width:22px;
  }

  .network{
    margin:2px;
  }

  .title {
    margin-top:10px;
  }

  .name{
    font-size:50px;
  }
  
  .profile{
    font-size: var(--md);
  }

  .description{
    width: 90%;

  }
  button{
    padding: 3px 30px;
  }

  .about-me{
    display: flex;
    flex-direction:column-reverse;
    padding:0;
    margin:0;
  }

  .skill{
    width: 100%;
   
  }
  .skill ul{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding:0;
  }

.skill ul p{
  font-size:17px;
}

.skill ul li {
  list-style: none;
}

.icon-skill{
  font-size:40px;
  margin-left:15px;
}

.about-description{
  width:100%;
}

.about-description p{
  font-size:15px;
}
.about-description button{
 padding: 5px 44px;
}





  }









